Készítsünk listát az egyes szálláshelyek átlagos csillagszámáról típus, illetve hely szerint csoportosítva (külön-külön)!

- Az átlag 2 tizedesre kerekítve jelenjen meg
- Hagyjuk ki azokat a szálláshelyeket, amelyek nevében kötőjel (-) van!

In [12]:
SELECT ROUND(avg(csillagok_szama) OVER (PARTITION by tipus), 2) as 'Típusonkénti csillagszám', ROUND(avg(CSILLAGOK_SZAMA) over(PARTITION by hely),2) as 'Hely szerinti csillagok száma'
FROM szallashely sz
WHERE CHARINDEX('-',SZALLAS_NEV) = 0

Típusonkénti csillagszám,Hely szerinti csillagok száma
0,2
3,2
3,2
3,2
3,2
0,2
0,0
3,3
3,2
3,2
0,2
3,2
0,1
3,1
0,0
0,0
0,0
0,0
3,3
3,4